################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Challenge-Intuit/v17
/.vs
/Challenge - Back/Backend-Challenge/Backend-Challenge/obj
/Challenge - Back/Backend-Challenge/.vs/Backend-Challenge
/Challenge - Back/Backend-Challenge/.vs/ProjectEvaluation
/Challenge - Back/Backend-Challenge/BackEnd.DataService/obj
/Challenge - Back/Backend-Challenge/Backend-Challenge/bin/Debug/net8.0
/Challenge - Back/Backend-Challenge/BackEnd.DataService/bin/Debug/net8.0
