################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Challenge-Intuit/v17
/.vs
/Challenge - Back/Backend-Challenge/Backend-Challenge/obj
/Challenge - Back/Backend-Challenge/.vs/Backend-Challenge
/Challenge - Back/Backend-Challenge/.vs/ProjectEvaluation
/Challenge - Back/Backend-Challenge/BackEnd.DataService/obj
/Challenge - Back/Backend-Challenge/Backend-Challenge/bin/Debug/net8.0
/Challenge - Back/Backend-Challenge/BackEnd.DataService/bin/Debug/net8.0
/Challenge - Front/Frontend-Challenge/.vs/Frontend-Challenge/DesignTimeBuild
/Challenge - Front/Frontend-Challenge/.vs/Frontend-Challenge/v17
/Challenge - Front/Frontend-Challenge/FrontendChallenge.WeatherPage/obj
/Challenge - Front/Frontend-Challenge/.vs/Frontend-Challenge/CopilotIndices/17.14.794.21998
/Challenge - Front/Frontend-Challenge/.vs/Frontend-Challenge/FileContentIndex
/Challenge - Front/Frontend-Challenge/.vs/ProjectEvaluation
/Challenge - Front/Frontend-Challenge/FrontendChallenge.WeatherPage/bin/Debug/net8.0
/Challenge - Front/Frontend-Challenge/.vs/Frontend-Challenge/config/applicationhost.config
